/*=================================
=            FONT FACE            =
=================================*/

@font-face {
	font-family: 'archi';
	font-style: normal;
	font-weight: 400;
	src: local('Architects Daughter'), local('ArchitectsDaughter'), url(http://themes.googleusercontent.com/static/fonts/architectsdaughter/v4/RXTgOOQ9AAtaVOHxx0IUBLX-17DZ7sxHqV95SKqxd6w.woff) format('woff');
}
@font-face {
	font-family: 'open';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
	font-family: 'open';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
	font-family: 'open';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
	font-family: 'open';
	font-style: italic;
	font-weight: 300;
	src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}
@font-face {
	font-family: 'open';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
	font-family: 'open';
	font-style: italic;
	font-weight: 600;
	src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxuw_rQOTGi-AJs5XCWaKIhU.woff) format('woff');
}
/*==========  HOME TITLE  ==========*/

@font-face {
  font-family: 'Lavanderia';
  font-style: normal;
  font-weight: 300;
  src: local('Lavanderia Delicate'), url('fonts/LavanderiaDelicate.otf') format('otf');
}

@font-face {
  font-family: 'Corneria';
  font-style: normal;
  font-weight: 300;
  src: local('Corneria Script'), url('fonts/CorneriaScript.ttf') format('ttf');
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 100 !important;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://themes.googleusercontent.com/static/fonts/pacifico/v5/yunJt0R8tCvMyj_V4xSjaXYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
/*-----  End of FONT FACE  ------*/

/*===============================
=            IMPORTS            =
===============================*/

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
// Tha main path is in app/bower_components/
@import 'sass-bootstrap/lib/bootstrap';
@import 'bourbon/app/assets/stylesheets/_bourbon';
@import '../styles/helpers/_mixins';
@import '../styles/modules/_left_nav';
@import '../styles/modules/_right_nav';
@import '../styles/modules/_footer';
@import '../styles/partials/_home';
@import '../styles/partials/_video';
@import '../styles/partials/_fotos';
@import '../styles/partials/_about_me';
@import '../styles/partials/_social';

/*-----  End of IMPORTS  ------*/

/*============================
=            TAGS            =
============================*/

a{
	color: $grey;
	&:hover{
		color: $darkRed;
		text-decoration: none;
	}
}
body{
	@include change-font-set('open', $grey, $font-base, 300);
	// background: url($bg-stripe-white) repeat transparent;
	background: #fff;
}
body > .container-fluid{
	@include position(relative);
}
h1{
	@include font-size($h1);
	font-family: 'open';
	font-weight: 400;
}
h2{
	@include font-size($h2);
	font-family: 'open';
	font-weight: 400;
}
h3{
	@include font-size($h3);
	font-family: 'open';
	font-weight: 400;
}
h4{
	@include font-size($h4);
	font-family: 'open';
	font-weight: 400;
}
html{
	@include change-font-set('open', $grey, $font-base, 300);
}

/*-----  End of TAGS  ------*/


/*============================
=            ID'S            =
============================*/

#ajax_container{
	@extend .text-center;
	@include min-size(auto 768px);
	@include position(relative);
	@include size(100%);
	#center_panel{
		@include display(inline-block);
		@include size(100%);
		#center_panel-brackets_container{
			@include size(768px 437px);
			// background: url(../../images/brackets.png) no-repeat transparent center;
			background-size: cover;
			margin: 0 auto;
		}
		footer{
			.fancy{
				@include display(inline-block);
				@include transform(rotate(-4deg));
				height: 18px;
				margin: 0 0 1rem 0;
				&:hover{
					@include prefixer(animation, (swing 0.7s), moz ms webkit);
				}
			}
			[class*="icon-"] {
				@include inline-block;
				@include size(32px);
				background-image: url(../images/sprites/sprites.png);
				background-repeat: no-repeat;
				&:hover{
					@include prefixer(animation, (pulse 0.7s), webkit moz ms);
				}
			}
		}
	}
}
// this is the box that has the like buttons
.menu_likes{
	@extend .text-center;
	@include min-size(128px 100%);
	@include position(fixed);
	@include size(128px 100%);
	background: rgba(255,255,255,0.8);
	left: 128px;
	top: 0;
	z-index: 10000;
	aside{
		.glyphicon-heart{
			font-size: 3rem;
			&:hover{
				font-size: 4rem;
			}
		}
		.red-heart{
			color: $darkRed;
		}
		p{
			@include change-font-set(($font-serif, $font-serif-alt),$grey,2rem, 300);
		}
	}
	iframe{
		@include size(74px auto);
		text-align: center;
		margin: 0 auto;
		div{
			margin: 0 auto;
		}
	}
	&.ng-hide-remove, &.ng-hide-add{
		@include display(block !important);
		@include transition (all 0.5s linear);
	}
	&.ng-hide-remove {
		@include prefixer(animation, (bounceInDown 0.5s), webkit moz ms o spec);
	}
	&.ng-hide-add {
		@include prefixer(animation, (bounceOutUp 0.5s), webkit moz ms o spec);
	}
}

.menu_comparte{
	@include min-size(256px 128px);
	@include position(absolute);
	@include size(256px 128px);
	background: url($bg-stripe-black) repeat;
	left: 128px;
	bottom: 0;
	z-index: 10000;
	&.ng-hide-remove, &.ng-hide-add{
		@include display(block !important);
		@include transition (all 0.5s linear);
	}
	&.ng-hide-remove {
		@include prefixer(animation, (bounceInLeft 0.5s), webkit moz ms);
	}
	&.ng-hide-add {
		@include prefixer(animation, (bounceOutLeft 0.5s), webkit moz ms);
	}
}
/*-----  End of ID'S  ------*/

/*=====================================
=            MEDIA QUERIES            =
=====================================*/

@media only screen and (max-width: 768px){
	#ajax_container{
		@include min-size(auto 480px);
		@include position(relative);
		@include size(100%);
		margin-bottom: 48px;
		#center_panel{
			#center_panel-brackets_container{
				@include size(320px 182px);
			}
		}
	}
	.menu_likes{
		@include display(none);
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
	#ajax_container{
		@include min-size(auto 640px);
		@include position(relative);
		@include size(100%);
		margin-bottom: 48px;
		#center_panel{
			#center_panel-brackets_container{
				@include size(640px 364px);
			}
		}
	}
}

/*-----  End of MEDIA QUERIES  ------*/

