/**
*
* SCSS FILE FOR THE PARTIAL: app/styles/partials/about_me.scss
* @author Derrick Roccka
**/
// @import 'sass-bootstrap/lib/bootstrap';
// @import 'bourbon/app/assets/stylesheets/_bourbon';
// @import '../styles/helpers/mixins';
//important to add the class related to each section
#ajax_container.OMartinGual{
	@include size(100%);
	h1,h2,h3,p,span{
		font-weight: 300;
	}
	.block-fifty{
		@extend .pull-left;
		@include min-size(320px 192px);
		@include prefixer(transition, all 1s, webkit moz ms o spec);
		margin: 1rem 0 0 0;
	}
	#center_panel.OMartinGual{
		header{
			@extend .center-block;
			margin: 1rem 0 0 0;
			.circle{
				@include prefixer(animation, flip 1s, webkit moz ms o spec);
				@include position(relative);
				@include size(192px);
				background-size: cover;
				border: 25px solid $grey;
				border-radius: 50%;
				margin: 0 auto;
			}
			.logo{
				background-image: url(../../images/oriol.jpg);
				background-repeat: none;
				#email{
					@include change-font-set('open', $lightGrey, 4rem, 300);
					@include display(block);
					@include position(relative);
					// @include prefixer(animation, (fadeIn 1s), webkit moz ms o spec);
					@include size(192px);
					background: url($bg-stripe-red) repeat;
					border-radius: 50%;
					cursor: pointer;
					line-height: 192px;
					margin: -25px 0 0 -25px;
					a{
						color: #fff;
						&:hover{
							color: #fff;
						}
					}
					&.ng-hide{
						@include prefixer(animation, (fadeOut 1s), webkit moz ms o spec);
					}
					&.ng-hide-add{
						// @include prefixer(animation, (fadeOut 1s), webkit moz ms o spec);
					}
					&.ng-hide-remove{
						// @include prefixer(animation, (fadeIn 1s), webkit moz ms o spec);
					}
					&.ng-hide-add, &.ng-hide-remove{
						@include display(block !important);
					}
				}
			}
			.greeting{
				@include font-size(8rem);
				vertical-align: middle;
			}
			h1{
				// @include font-size(5rem);
				@include change-font-set('Lavanderia', $grey, 5rem);
			}
			h2{
				@include change-font-set('Lavanderia', $grey, 2rem);
			}
			h1, h2{
				@include prefixer(animation, (fadeInLeft 2s), webkit moz ms o spec);
			}
		}
		#center_panel-brackets_container{
			@extend .center-block;
			@include size(100% auto);
			background: none !important;
			#about_me-chapters{
				margin: 0 auto;
				max-width: 768px;
				padding: 0 0.5rem;
				text-align: justify;
				h1, h2, h3{
					text-align: center;
				}
			}
			.arrow{
				@include prefixer(animation, wobble 1.7s, webkit moz ms o spec);
				@include size(64px);
				margin: 0 auto;
				img{
					@include size(64px);
					&:hover{
						@include prefixer(animation, wobble 1.7s, webkit moz ms o spec);
					}
				}
			}
			#about_me-clients{
				@include size(320px auto);
				margin: 0 auto;
				max-width: 320px;
				.client{
					@include display(inline-block);
					padding: 0.5rem;
					// @include size(256px auto);

				}
			}

			.close{
				text-align:right;
				width: 100%;
			}
			h3{
				margin: 0 0 0 0;
			}
			nav{
				ul{
					li{
						@include position(relative);
						@include prefixer(transition, left 0.60s, webkit moz ms o spec);
						left: 0;
						margin: 0px auto;
						padding: 0.5rem 0px;
						text-align: left;
						width: 320px;
						&:hover{
							border-bottom: 2px solid $lightGrey;
							cursor: pointer;
							left: 1rem;
						}
					}
				}
			}
			p{
				line-height: 1.5rem;
				&.project{
					// border-bottom: 2px solid $lightGrey;
					padding: 1rem 0;
				}
				&::first-letter{
					font-size: 150%;
					// color: $darkRed;
					font-weight: bold;
					margin: 0 0 0 2rem;
				}
			}
		}
		#center_panel-description{
			@include display(none);
			background: none !important;
		}
		footer{
			
		}
	}
}

/*=====================================
=            MEDIA QUERIES            =
=====================================*/

@media only screen and (max-width: 768px){
	#ajax_container.OMartinGual{
		.block-fifty{
			@include min-size(160px 24px);
			@include size(100% auto);
		}
		#center_panel.OMartinGual{
			header{
				.greeting{
					@include font-size(3rem !important);
				}
				h1{
					@include font-size(2rem !important);
				}
			}
			#center_panel-brackets_container{
				.arrow{
					// @include prefixer(transform, rotate(90deg), webkit moz ms o spec);
					@include size(32px);
					img{
						@include prefixer(transform, rotate(90deg), webkit moz ms o spec);
						@include size(32px);
						&:hover{
							@include prefixer(transform, rotate(90deg), webkit moz ms o spec);
							@include prefixer(animation, none, webkit moz ms o spec);
						}
					}
				}
				nav{
					ul{
						li{
							text-align: center;
							&:hover{
								left: 0;
							}
						}
					}
				}
			}
		}
	}
}

/*-----  End of MEDIA QUERIES  ------*/

