/**
*
* SCSS FILE FOR THE PARTIAL: app/styles/partials/home.scss
* @author Derrick Roccka
**/
// @import 'sass-bootstrap/lib/bootstrap';
// @import 'bourbon/app/assets/stylesheets/_bourbon';
// @import '../styles/helpers/mixins';
//important to add the class related to each section
#ajax_container{
	#home-video{
		bottom: 0px;
		height: auto;
		min-height: 100%;
		min-width: 100%;
		opacity: .6;
		overflow: hidden;
		position: absolute;
		right: 0px;
		width: auto;
		z-index: -1000;
	}
	#center_panel.home{
		header{
			@extend .text-center;
			h1{
				@include change-font-set('Satisfy', black, 4.5rem, 400);
				// @include font-size(3rem);

			}
			h2{
				@include display(inline-block);
				// &:after{
				// 	content: "\00a0//\00a0";
				// }
			}
			h1, h2, h3{
				@include transition (all 1.1s cubic-bezier(0,1.37,.1,.27));
				@include prefixer(text-shadow, (-0.08em 0px 0px rgba(255, 0, 0, 0.74), 0.08em 0px 0px rgba(0, 238, 238, 0.83)), webkit moz spec o ms);
				color: white;

				&:hover{
					@include prefixer(text-shadow, (-0.08em 0px 3px rgba(255, 0, 0, 0.74), 0.08em 0px 0px rgba(0, 238, 238, 0.83)), webkit moz spec o ms);

				}
			}
		}
		#center_panel-brackets_container{
			#center_panel-logo{
				@include position(relative);
				@include size(320px 320px);
				background: url($bg-stripe-red) repeat transparent;
				border-radius: 50%;
				margin: 0 auto;
				top: 48px;
				figure{
					@include position(relative);
					margin: 0 auto;
					top:50px;
					width:180px;
					img{
						width: 180px;
					}
				}
			}
		}
		#center_panel-description{
			@include display(none);
		}
		#center_panel-keywords{
			// @extend .text-left;
			@include size(768px auto);
			h2{
				@include font-size($font-base + 2px);
				// font-style: italic;
				border-bottom: 3px double;
				border-top: 3px double;
				font-weight: 300;
				line-height: 1.9em;
				margin-top: -10px;
			}
		}
		footer{}
	}
	#right_nav{
		@include display(none);
	}
}

/*=====================================
=            MEDIA QUERIES            =
=====================================*/

@media only screen and (max-width: 768px){
	#ajax_container{
		#home-video{
			display: none;
		}
		#center_panel.home{
			header{
				h1,h2,h3{
					color: #000;
				}
			}
			#center_panel-brackets_container{
				#center_panel-logo{
					@include size(160px);
					top: 15px;
					figure{
						top: 27px;
						width: 90px;
						img{
							width: 90px;
						}
					}
				}
			}
			#center_panel-keywords{
				@include size(100% auto);
				text-align: center !important;
			}
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
	#ajax_container{
		#center_panel.home{
			#center_panel-brackets_container{
				#center_panel-logo{
					@include size(240px);
					top: 65px;
					figure{
						top: 40px;
						width: 135px;
						img{
							width: 135px;
						}
					}
				}
			}
			#center_panel-keywords{
				@include size(100% auto);
				text-align: center !important;
			}
		}
	}
}
/*-----  End of MEDIA QUERIES  ------*/

