/**
*
* SCSS FILE FOR THE MODULE: app/styles/modules/footer.scss
* @author Derrick Roccka
**/
// @import 'sass-bootstrap/lib/bootstrap';
// @import 'bourbon/app/assets/stylesheets/_bourbon';
// @import '../styles/helpers/mixins';

#footer{
	@include font-size($font-base);
	@include size(100% 16px);
	bottom: 0;
	position: fixed;
	a{
		color: rgb(232,123,174);
	}
}