<div data-extend-template="/layout.html" >
	<div data-block-append="center_panel-header" >
		<figure class="circle logo" ng-mouseover="email = !email" ng-mouseout="email = !email">
			<div id="email" ng-show="email">
				<a target="_blank" rel="nofollow" href="mailto:uri.martin.90@gmail.com?Subject=Hola%20Oriol!"><span class="glyphicon glyphicon-envelope"></span></a>
			</div>
		</figure>
	</div>
	<div data-block-append="center_panel-header" class="block-center" section="section" steps="stepsHeader" ng-about-animate>
		<p class="greeting">
			{{ greeting }}
		</p>
	</div>
	<article data-block-prepend="center_panel-brackets_container" id="about_me-chapters">
		<section ng-show="chapters.historia">
			<hr>
			<h1>Esta es mi historia</h1>
			<hr>
			<button type="button" class="close" aria-hidden="false" 
			ng-click="setChapters(false, false, false);showSteps(true, true, true)">&times;</button>
			<p> 
				¡Hola! Soy Oriol Martin Gual, realizador de
				audiovisuales y espectáculos,
				nacido en Barcelona el 12 de abril de
				1990. Actualmente con residencia en
				Sant Feliu de Llobregat. Mi pasión por el
				mundo de los audiovisuales lo despierta
				el cine, mi gran afición desde pequeño.
			</p>
			<p>
				Tuve la posibilidad de asistir a rodajes de películas profesionales. También dispongo
				de experiencia en el mundo televisivo
				ya que estuve en el departamento de
				postproducción en el programa infantil
				“El Club Super 3“ en TV3, Televisió de
				Catalunya. En el mundo de la publicidad,
				he colaborado con agencias de
				marketing, produciendo principalmente
				videomarketing. 
			</p>
			<button type="button" class="btn btn-default" aria-hidden="false" 
			ng-click="setChapters(false, false, false);showSteps(true, true, true)">OCULTAR</button>
		</section>
		<section ng-show="chapters.clientes">
			<hr>
			<h1>Estos son algunos de mis clientes</h1>
			<hr>
			<button type="button" class="close" aria-hidden="false" 
				ng-click="setChapters(false, false, false);showSteps(true, true, true)">&times;</button>
			<article id="about_me-clients">
				<p ng-repeat="c in clients" class="client"><span class="client-{{ c.klass }}"></span></p>
			</article>
			<button type="button" class="btn btn-default" aria-hidden="false" 
			ng-click="setChapters(false, false, false);showSteps(true, true, true)">OCULTAR</button>
		</section>
		<section ng-show="chapters.trabajos">
			<hr>
			<h1>Y éstos, algunos de mis trabajos</h1>
			<hr>
			<button type="button" class="close" aria-hidden="false" 
				ng-click="setChapters(false, false, false);showSteps(true, true, true)">&times;</button>
			<p ng-repeat="p in projects" class="project"><strong>{{ p.name }}</strong> - <small>{{ p.description }}</small></p>
			<button type="button" class="btn btn-default" aria-hidden="false" 
			ng-click="setChapters(false, false, false);showSteps(true, true, true)">OCULTAR</button>
		</section>
	</article>

	<article data-block-append='center_panel-brackets_container' class="block-fifty" 
	section="section" steps="stepsArrow" showSteps="showSteps" stepsvisibility="stepsvisibility"
	ng-show="stepsvisibility.arrow" ng-about-animate>
</article>

<aside data-block-append='center_panel-brackets_container' class="block-fifty" ng-show="stepsvisibility.chaptersList">
	<nav data-block-append='center_panel-brackets_container'>
		<ul class="list-unstyled" section="section" steps="stepsOptions" showSteps="showSteps"
		chapters="chapters" setChapters="setChapters" stepsvisibility="stepsvisibility" ng-about-animate>
	</ul>
</nav>
</aside>

</div>