<div data-extend-template="/layout.html" >
	<div data-block-append="center_panel-header" >
		<figure class="circle logo" ng-mouseover="email = !email" ng-mouseout="email = !email">
			<div id="email" ng-show="email">
				<span class="glyphicon glyphicon-envelope"></span>
			</div>
		</figure>
	</div>
	<div data-block-append="center_panel-header" class="block-center" section="section" steps="stepsHeader" ng-about-animate>
		<p class="saludo">
			{{ saludo }}
		</p>
	</div>
	<article data-block-prepend="center_panel-brackets_container" id="about_me-chapters">
		<h2 ng-show="chapters.historia">Esta es mi historia<button type="button" class="close" aria-hidden="false" ng-click="setChapters(false, false, false)">&times;</button>
		</h2>
		<p ng-show="chapters.historia">Esta es mi historia</p>
		<h2 ng-show="chapters.clientes">Estos son mis clientes<button type="button" class="close" aria-hidden="false" ng-click="setChapters(false, false, false)">&times;</button>
		</h2>
		<p ng-show="chapters.clientes">Estos son mis clientes</p>
		<h2 ng-show="chapters.trabajos">Estos son mis trabajos<button type="button" class="close" aria-hidden="false" ng-click="setChapters(false, false, false)">&times;</button>
		</h2>
		<p ng-show="chapters.trabajos">Estos son mis trabajos</p>
	</article>
	<article data-block-append='center_panel-brackets_container' class="block-fifty" section="section" steps="stepsThird" ng-about-animate>
		
	</article>
	<aside data-block-append='center_panel-brackets_container' class="block-fifty">
		<nav data-block-append='center_panel-brackets_container'>
			<ul class="list-unstyled" section="section" steps="stepsFourth" chapters="chapters" setChapters="setChapters" ng-about-animate>
			</ul>
		</nav>
	</aside>
</div>