<div data-extend-template="/layout.html">
	<video id="home-video" preload="auto" data-block-append="ajax_container" autoplay="autoplay" loop="loop" > 
		<source src="/videos/omg.mp4" type="video/mp4"> 
		Video not supported 
	</video>
	<div class="center-block" id="center_panel-keywords" data-block-append="center_panel-header">
		<h1>{{ title }}</h1>
		<h2>{{ tagline }}</h2>
	</div>
	<div data-block-append="center_panel-brackets_container" id="center_panel-logo" ng-click="(flip = !flip); flipCircle();" class="{{ klass }}">
		<figure ng-show="!flip">
			<img src="/images/icons/nav/logo.png" alt="Logo de OMartinGual">
		</figure>
	</div>
</div>

<!-- http://lachy.id.au/lib/media/elephantsdream/Elephants_Dream-720p-Stereo.webm -->