<div data-extend-template="/layout.html">
	<h1 data-block-append="center_panel-header" class="fancy">#nowplaying</h1>
	<div data-block-append="center_panel-header">
		<span>[</span><img src="images/icons/spot_64x64.png" alt="" id="spot"><span>]</span>
		<h1 class="video-title">{{ videoTitle }}</h1>
	</div>
	<div data-block-append="center_panel-brackets_container" id="center_panel-player">
		<iframe id="ytplayer" type="text/html" width="640" height="360"
		ng-src="{{ videoURL }}"
		frameborder="0"/>
	</div>
	<ul data-block-append="right_nav" class="list-unstyled">
		<li ng-repeat="v in videoList">
			<img class="thumbnail" src="{{ v.snippet.thumbnails.default.url }}" alt="{{ v.snippet.title }}"
			ng-click="videoChange(v.snippet.title, v.snippet.resourceId.videoId, v.snippet.description)"/>
		</li>
	</ul>
	<div data-block-append="center_panel-description">
		<p class="description">
			{{ videoDesc }}
		</p>
		<p class="statistics">
			<img src="images/icons/reproducciones.png" alt="">
			<span class="view-count">
				<b>{{ videoStatistics[0].statistics.viewCount }}</b><br>Reprod.
			</span>
			<img src="images/icons/nav/likes.png" alt="">
			<span class="like-count">
				<b>{{ videoStatistics[0].statistics.likeCount }}</b><br>OMG's!
			</span>
		</p>
	</div>
</div>