/**
*
* SCSS FILE FOR THE HELPER: app/styles/helpers/mixins.scss
* @author Derrick Roccka
**/
// @import 'sass-bootstrap/lib/bootstrap';
// @import 'bourbon/app/assets/stylesheets/_bourbon';

/*=================================
=            VARIABLES            =
=================================*/

/*==========  COLORS  ==========*/

$darkRed: rgb(173,42,42);
$grey: rgb(26,26,26);
$lightGrey: rgb(233,233,233);

/*==========  FONTS  ==========*/

$font-base: 16px;
$h1: 36px;
$h2: 24px;
$h3: 18px;
$h4: 16px;
$font-fancy: "archi";

/*==========  IMAGES  ==========*/

// $bg-stripe-black: "../../images/patterns/pattern_black_stripes_256x256.jpg";
// $bg-stripe-red: "../../images/patterns/pattern_red_stripes_256x256.jpg";
// $bg-stripe-white: "../../images/patterns/pattern_white_stripes_256x256.jpg";
$bg-stripe-black: "/images/patterns/pattern_black_stripes_256x256.jpg";
$bg-stripe-red: "/images/patterns/pattern_red_stripes_256x256.jpg";
$bg-stripe-white: "/images/patterns/pattern_white_stripes_256x256.jpg";

/*-----  End of VARIABLES  ------*/

/*==============================
=            MIXINS            =
==============================*/

@mixin display($value){
	display: $value;
}
@mixin font-size($size){
	font-size: $size;
	line-height: $size;
}
@mixin change-font-set($family, $color, $size, $weight...){
	$f: if(length($family) == 0, 'open', $family);
	$w: if(length($weight) == 0, normal, $weight);

	color: $color;
	font-family: $f;
	font-weight: $w;
	@include font-size($size);
}

/*-----  End of MIXINS  ------*/

/*===============================
=            CLASSES            =
===============================*/
/*==========  ANIMATIONS  ==========*/

.fadeIn{
	@include prefixer(animation, fadeIn 1s, webkit moz ms o spec);
}
/*==========  BLOCKS  ==========*/

.block-fifty{
	@include display(inline-block);
	@include size(50% auto);
}

/*==========  POSITION  ==========*/

.button-wrapper{
	@extend .text-center;
}

/*==========  TYPO  ==========*/
.threeD{
	@include prefixer(text-shadow, (-0.08em 0px 0px rgba(255, 0, 0, 0.74), 0.08em 0px 0px rgba(0, 238, 238, 0.83)), webkit moz spec o ms);
}
.typewriter
{
	@include prefixer(animation, (type 2.5s steps(50, end)), webkit moz o spec ms);
	// border-right: 1px solid #000;
	// height: 100%;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
    // word-wrap: break-word;
    // -webkit-animation: type 2.5s steps(50, end);
    // animation: type 2.5s steps(50, end);
}
.fancy{
	@include change-font-set('archi', $darkRed, $h3);
}

/*==========  SPRITES  ==========*/

.icon-tw {
	background-position: 0 0;
	width: 36px;
}
.icon-fb {
	background-position: -36px 0;
	width: 32px;
}
.icon-gplus {
	background-position: -68px 0;
	width: 32px;
}
.icon-insta {
	background-position: -100px 0;
	width: 32px;
}
.icon-bubbles {
	background-position: 0 -32px;
}

.icon-tw-s {
	background-position: 0 0;
	width: 18px;
}
.icon-fb-s {
	background-position: -18px 0;
	width: 16px;
}
.icon-gplus-s {
	background-position: -34px 0;
	width: 16px;
}
.icon-insta-s {
	background-position: -50px 0;
	width: 16px;
}
.icon-bubbles-s {
	background-position: 0 -16px;
}
/*-----  End of CLASSES  ------*/

/*==================================
=            ANIMATIONS            =
==================================*/

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes rotate-ninety {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(90deg);
	}
}

@keyframes appear {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes type{
	from { width: 0; }
}

@-webkit-keyframes type{
	from { width: 0; }
}
/*-----  End of ANIMATIONS  ------*/

