/**
*
* SCSS FILE FOR THE HELPER: app/styles/helpers/mixins.scss
* @author Derrick Roccka
**/
@import 'sass-bootstrap/lib/bootstrap';
@import 'bourbon/app/assets/stylesheets/_bourbon';

/*=================================
=            VARIABLES            =
=================================*/

/*==========  COLORS  ==========*/

$darkRed: rgb(173,42,42);
$grey: rgb(46,46,46);
$lightGrey: rgb(233,233,233);

/*==========  FONTS  ==========*/

$font-base: 16px;
$h1: 36px;
$h2: 24px;
$h3: 18px;
$h4: 16px;
$font-fancy: "archi";

/*==========  IMAGES  ==========*/

$bg-stripe-black: "../../images/patterns/pattern_black_stripes_256x256.jpg";
$bg-stripe-red: "../../images/patterns/pattern_red_stripes_256x256.jpg";
$bg-stripe-white: "../../images/patterns/pattern_white_stripes_256x256.jpg";

/*-----  End of VARIABLES  ------*/

/*==============================
=            MIXINS            =
==============================*/

@mixin display($value){
	display: $value;
}
@mixin font-size($size){
	font-size: $size;
	line-height: $size;
}
@mixin change-font-set($family, $color, $size, $weight...){
    $f: if(length($family) == 0, 'open', $family);
    $w: if(length($weight) == 0, normal, $weight);

	color: $color;
	font-family: $f;
    font-weight: $w;
	@include font-size($size);
}

/*-----  End of MIXINS  ------*/

/*===============================
=            CLASSES            =
===============================*/

/*==========  TYPO  ==========*/

.fancy{
	@include change-font-set('archi', $darkRed, $h3);
}

/*==========  SPRITES  ==========*/



/*-----  End of CLASSES  ------*/

/*==================================
=            ANIMATIONS            =
==================================*/

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/*-----  End of ANIMATIONS  ------*/

