/**
*
* SCSS FILE FOR THE HELPER: app/styles/helpers/home.scss
* @author Derrick Roccka
**/
@import 'sass-bootstrap/lib/bootstrap';
@import 'bourbon/app/assets/stylesheets/_bourbon';

/*=================================
=            VARIABLES            =
=================================*/

/*==========  COLORS  ==========*/

$darkRed: rgb(173,42,42);
$grey: rgb(46,46,46);
$lightGrey: rgb(233,233,233);

/*==========  FONTS  ==========*/

$font-base: 14px;
$h1: 36px;
$h2: 24px;
$h3: 18px;
$h4: 16px;
$font-fancy: "archi";

/*-----  End of VARIABLES  ------*/

/*==============================
=            MIXINS            =
==============================*/

@mixin display($value){
	display: $value;
}
@mixin font-size($size){
	font-size: $size;
	line-height: $size;
}
@mixin change-font-set($family, $color, $size){
	color: $color;
	font-family: $family;
	font-size: $size;
}

/*-----  End of MIXINS  ------*/

/*===============================
=            CLASSES            =
===============================*/

.fancy{
	@include change-font-set('archi', $darkRed, $h3);
}

/*-----  End of CLASSES  ------*/

/*==================================
=            ANIMATIONS            =
==================================*/

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.menu_likes.ng-hide-add, .menu_likes.ng-hide-remove {
transition:0.5s linear all;
display:block!important;
}
.menu_likes {
  -webkit-transition: color 0.6s, background-color 0.3s;
  -moz-transition: color 0.6s, background-color 0.3s;
  -ms-transition: color 0.6s, background-color 0.3s;
  transition: color 0.6s, background-color 0.3s;

  &.ng-hide-remove {
    -webkit-animation: fadeInLeft 1s;
    -moz-animation: fadeInLeft 1s;
    -ms-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
  }
  
  &.ng-hide-add {
    -webkit-animation: bounceOut 1s;
    -moz-animation: bounceOut 1s;
    -ms-animation: bounceOut 1s;
    animation: bounceOut 1s;
  }
}

/*-----  End of ANIMATIONS  ------*/

