<nav id="left_nav" class="pull-left">
	<ul class="nav nav-pills pull-right">
		<li ng-repeat="item in menuItems" ng-mouseenter="show = !show" ng-mouseleave="show = !show">
			<div>
				<a ng-href="{{item.href}}" data-name="{{item.name}}">
					<img src="{{item.img}}" alt="" ng-click="likes = !likes">
				</a>
			</div>
			<div ng-show="show" class="menu_wrap"><span>{{item.name}}</span></div>
			<div ng-show="likes" class="menu_likes"><span>{{likes}}LIKES ABIERTOS</span></div>
			<!-- REVEAL ANIMATION NOT WORKING -->
		</li>
	</ul>
</nav>